
.auth-form {
    margin-top: 5%;
    transition: 0.3s;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.auth-form:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.light-form {
    padding: 5%;
}

.dark-form {
    padding: 5%;
}

.btn-primary {
    
}