
.container {
  margin:0 ! important;
  padding:0 ! important;
}

.navbar {
  background: #fbff1f;
  z-index: 3;
}

.navbar-img {

  width: 5vh;
  height: 5vh;

  margin-top: 1vh;
  margin-bottom: 1vh;

  margin-left: 2.5vw;
  margin-right: 1vw;

}

.navbar-title {
  font-size: 2.5vw;
  font-weight: 800;
}

.navbar-link {

  position: relative;
  left: 60vw;

  margin-top: 1.25vh;
  margin-left: 5vw;

  font-size: 1.5vw;
  font-weight: 400;

}

.navbar-button {

  position: absolute;
  left: 55vw;

  margin-top: 0.75vh;
  margin-left: 5vw;

  font-size: 1.5vw;
  font-weight: 400;

}

.home-stripe {

  position: absolute;
  top: -45%;
  left: -25%;

  z-index: 2;

  height: 150vh;
  width: 75vw;

  /* background: #fbff1f; */
  transform:rotate(25deg);
  background: rgb(157,21,255);
  background: linear-gradient(345deg, rgba(157,21,255,1) 0%, rgba(250,52,219,1) 0%, rgba(251,255,31,1) 56%);

}

.home-title {
  position: absolute;
  top: 25%;
  left: 5%;
  font-size: 10vw;
  font-weight: 800;
  z-index: 5;
}

.home-subtitle {
  position: absolute;
  top: 65%;
  left: 5%;
  font-size: 3vw;
  font-weight: 800;
  font-style: italic;
  z-index: 5;
}

.about-stripe {

  position: absolute;
  top: 90%;

  z-index: 1;

  height: 100vh;
  width: 35vw;

  /* background: #fbff1f; */
  transform:rotate(0deg);
  background: rgb(250,52,219);
  background: linear-gradient(3deg, rgba(250,52,219,1) 42%, rgba(251,71,198,1) 79%, rgba(251,120,153,1) 100%, rgba(251,101,170,1) 100%, rgba(251,255,31,1) 100%, rgba(251,77,189,1) 100%, rgba(252,112,148,1) 100%);

}

.about-quote {
  position: absolute;
  top: 110%;
  max-width: 25vw;
  /* word-break: break-all; */
  left: 5%;
  font-size: 2vw;
  font-weight: 800;
  z-index: 5;
  color: #fff;
  font-style: italic;
}

.about-author {
  position: absolute;
  top: 155%;
  max-width: 25vw;
  /* word-break: break-all; */
  left: 15%;
  font-size: 2vw;
  font-weight: 800;
  z-index: 5;
  color: #fff;
  font-style: italic;
}

.about-title {
  position: absolute;
  top: 170%;
  left: 5%;
  font-size: 4vw;
  font-weight: 800;
  z-index: 5;
  color: #fff;
}

#home {
  width: 100%;
  height: 85vh;

  background-color: #fff;
}

#map {
  width: 100vw;
  height: 85vh;
  z-index: 1;
}

#about {

  width: 100%;
  height: 85vh;

}

html {
  overflow-x: hidden;
}
